[submodule "vendor/rhtml-mode"]
  path = vendor/rhtml-mode
  url = http://github.com/eschulte/rhtml.git
[submodule "vendor/cucumber"]
	path = vendor/cucumber
	url = http://github.com/michaelklishin/cucumber.el.git
